@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .sidebar-div {
    @apply pl-2 cursor-pointer flex items-center gap-1
  }
  .sidebar-options .active {
      @apply border-l-4 border-black rounded-md
  }

  .editor-form > input, textarea {
      @apply bg-white border border-gray-400 rounded-lg p-4 text-black mb-7 mt-3 outline-none
  }

  .editor-form > label {
      @apply font-medium
  }

  .visibility-options > div {
      @apply  my-10 flex justify-between items-center
  }


}


.toggle-button {
  position: relative;
  appearance: none;
  height: 1.5rem;
  border-radius: 0.75rem;
  aspect-ratio: 2/ 1;
  background: #4f46e5;
}

.toggle-button::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 96%;
  aspect-ratio: 1 / 1;
  background: white;
  top: 2%;
  left: 1px;
  transition: all 0.3s;
}


.toggle-button:checked::before {
  transform: translateX(100%);
}

